<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Configurar tu contraseña</title>
    <style>
        body {
            font-family: 'Roboto', Arial, sans-serif;
            background-color: #e2f6e3;
            margin: 0;
            padding: 0;
        }
        .container {
            max-width: 600px;
            margin: 20px auto;
            background: #ffffff;
            padding: 20px;
            border-radius: 8px;
            box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
            text-align: center;
        }
        .header {
            text-align: center;
            padding: 10px 0;
        }
        .header img {
            width: 100%;
            max-height: 120px;
            object-fit: contain;
        }
        .btn {
            display: inline-block;
            background-color: #40b147;
            color: #ffffff;
            padding: 12px 20px;
            text-decoration: none;
            border-radius: 3px;
            font-size: 14px;
            font-family: 'Roboto', Arial, sans-serif;
        }
        .footer {
            margin-top: 20px;
            font-size: 12px;
            color: #666;
            font-family: 'Roboto', Arial, sans-serif;
        }
    </style>
</head>
<body>
    <div class="container">
        <div class="header">
            <img src="https://res.cloudinary.com/dcvikbhm6/image/upload/v1742098103/dzuvp1n5jnssnspkxs4t.png" alt="Logo de la empresa">
        </div>
        <h2>Configura tu contraseña</h2>
        <p>Hola,</p>
        <p>Has solicitado configurar tu contraseña. Haz clic en el siguiente botón para establecer una nueva contraseña.</p>
        <a href="{{reset_link}}" class="btn">Configurar Contraseña</a>
        <p>Si no solicitaste este cambio, ignora este correo.</p>
        <p class="footer">&copy; 2025 Nueva Esperanza. Todos los derechos reservados.</p>
    </div>
</body>
</html>
